body {
  background-color: #3399dd;
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

span {
  color: green;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  display: none;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

#radioBtnDiv {
  margin: 20px;
}
.box {
}

#BPinfo {
}

#btnDiv {
}

button {
  padding: 10px;
  border: 1px solid white;
  border-radius: 5px;
  font-weight: bold;
  background-color: #339966;
  box-shadow: 2px 3px 10px #888888;

  font-size: 1rem;
}

button:focus {
  outline: none;
}

button:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
  background-color: #3e8e41;
}
